* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 30vw;
    height: 80vh;
}

img {
    width: 30vw;
    height: 80vh;
    object-fit: cover;
}

.img-container-after, .img-container-after {
    position: absolute;
}

.img-container-before {
    width: 15vw;
    overflow: hidden;
}

.slider {
    width: 0.5rem;
    background: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

}
